<div class="admin-container">
    
    <div class="admin-sidebar">
        <p>
            <%= link_to admin_dashboard_path do %>
                <i class="fa-solid fa-table-columns"></i> Dashboard
            <% end %>
        </p>

        <p><%= link_to admin_items_path do %>
            <i class="fa-solid fa-box"></i> Transactions
        <% end %></p>

        <p><%= link_to admin_items_path do %>
            <i class="fa-solid fa-list"></i> Item List
        <% end %></p>

        <p class="current-page"><%= link_to admin_user_list_index_path do %>
            <i class="fa-solid fa-users"></i> Users
        <% end %></p>

        <p><%= render 'shared/logout_button' %></p>

    </div>
    <div class="admin-sidebar-content">
        <div class="content-header">
            <h1 class="content-title2">User List<span class="item-buttons2"><br><%= link_to 'Back to User List', admin_user_list_index_path %></span></h1>
        </div>
        <div class="users-container2">
            <h2 class="submit-container">Create User</h2>
           <%= render 'form' %>
        </div>
    </div>
</div>

