



<div class="admin-container">
    
    <div class="admin-sidebar">
        <p>
            <%= link_to admin_items_path do %>
                <i class="fa-solid fa-table-columns"></i> Dashboard
            <% end %>
        </p>

        <p><%= link_to admin_items_path do %>
            <i class="fa-solid fa-box"></i> Transactions
        <% end %></p>

        <p><%= link_to admin_items_path do %>
            <i class="fa-solid fa-list"></i> Item List
        <% end %></p>

        <p><%= link_to admin_items_path do %>
            <i class="fa-solid fa-users"></i> Users
        <% end %></p>

        <p><%= link_to admin_items_path do %>
            <i class="fa-solid fa-user"></i> Profile
        <% end %></p>

        <p><%= render 'shared/logout_button' %></p>

    </div>
    <div class="admin-sidebar-content">
        <h2>Welcome to the admin dashboard!</h2>
    </div>
</div>









