<div class="flex items-center h-100" style="font-family: 'Muli', sans-serif;">
  <div class="container ml-auto mr-auto flex flex-wrap items-start">
    <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
      <h1 class="text-3xl lg:text-4xl text-gray-700 font-extrabold">
        Products
      </h1>
    </div>
    <% @items.each do |item| %>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <% if item.image.attached? %>
              <%= image_tag item.image, class: "w-80 h-80 object-cover mx-auto" %>
            <% else %>
              <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_GOhUXbTBGraHVj2z0UFnXvCcTRBsY_hXBg&s', class: "w-80 h-80 object-cover mx-auto" %>
            <% end %>
          </figure>
          <div class="rounded-lg p-4 bg-purple-600 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                <%= link_to item.item_name, description_item_path(item)%>
              </h5>
              <span class="text-xs text-gray-200 leading-none"><%= item.item_description %></span>
            </div>
            <div class="flex items-center justify-between">
              <div class="text-lg text-white font-light">
                <%= number_to_currency(item.price, unit: "₱", format: "%u%n") %>
              </div>
              <% if user_signed_in? %>
                <%= form_with url: add_item_cart_path(item_id: item.id), method: :post, class: "inline" do %>
                  <%= button_tag type: "submit", class: "rounded-full bg-purple-800 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300 items-center justify-center " do %>
                    +
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to '+', new_user_session_path, class: "rounded-full bg-purple-800 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300 items-center justify-center " %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



