<h1>Welcome to Our Online Shop</h1>

<% @items.each do |item| %>
  <div class="product-item">
    <h2><%= item.item_name %></h2>
    <p><%= item.item_description %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>

    <% if user_signed_in? %>
      <%= button_to 'Add to Cart', add_item_cart_path(item_id: item.id), method: :post, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Login to add to cart', new_user_session_path, class: "btn btn-secondary" %>
    <% end %>

  </div>
<% end %>
