
<div id="transactions" class="w-3/5 mx-auto font-bold	">
  
      <h2 class="mt-6 text-2xl text-violet-900">Transactions</h2>
      <%= link_to 'Back to Profile', user_path, class: "underline text-violet-900 text-sm hover:text-white" %>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-white uppercase bg-violet-900">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        User
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quantity | Items
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total Amount
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
              <% @transactions.each do |txn| %>
                <% if txn.user_id == current_user.id %>
                  <tr class="bg-white border-b">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <%= txn.user_email %>
                      </th>
                      <td class="px-6 py-4">
                        <% @transaction_items.each do |item| %>
                          <% if item.transaction_id == txn.id %>
                            <%= item.item_quantity%> | <%= item.item_name %><br>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="px-6 py-4">
                        <%= number_to_currency(txn.total_amount) %>
                      </td>
                      <td class="px-6 py-4">
                        <%= txn.created_at.strftime("%b %d, %Y %H:%M") %>
                      </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
        </table>
      </div>
    
</div>

